## NPM ##
node_modules

## Jest ##
coverage/

## Yarn ##
yarn-error.log

## Webpack bundle ##
public/bundle.js

## config ##
.eslintrc.js

## Key Files ##
*.pem

## Instruction files ##
mongoDb.txt
nodeInstall.txt
login.sh