/* --- CONTAINER --- */
.container {
  display: flex;
  flex-flow: column wrap;
  font-family: Helvetica, Arial, sans-serif;
  align-content: space-between;
  margin: 20px;
}

/* --- ITEM INFORMATION --- */
.description {
  font-weight: lighter;
  font-size: 14px;
}

.category {
  margin-bottom: 50px;
}

.item-name {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 32px;
  font-style: italic;
}

.item-color {
  font-weight: lighter;
}

.item-price {
  font-weight: 600;
  font-size: 20px;
}

/* --- MINI CONTAINERS --- */
.mini-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.heart {
  height: 40px;
  width: 45px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-weight: bold;
}

.heart:hover {
  cursor: pointer;
  font-weight: bolder;
  color: grey;
  font-size: 110%;
}

/* --- PROMOTIONS --- */
.promotions {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
}

.finance {
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 5px 0 5px 0;
}

.creators {
  margin: 5px 0 5px 0;
}

.holiday {
  margin: 5px 0 5px 0;
}

/* --- SIZE BUTTON --- */
.size-button {
  color: black;
  background-color: white;
  border: 1px solid grey;
  width: 50px;
  height: 25px;
  text-transform: uppercase;
}

.size-button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  border: 1px solid black;
}

/* --- SIZE GUIDE MODAL --- */
.size-guide-modal {
  overflow-y: scroll;
}

/* --- MODAL --- */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal:hover {
  cursor: pointer;
}

/* --- CONTENT OF MODAL --- */
.modal-content {
  z-index: 1;
  position: fixed;
  background-color: white;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid black;
  max-height: calc(100vh - 210px);
}

.close {
  text-align: center;
  border: 1px solid black;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: -35px;
  margin-top: -15px;
  background-color: white;
  height: 30px;
  width: 30px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* --- MODAL BUTTONS --- */
.modal-button {
  text-decoration: underline;
  border: none;
  text-align: start;
  display: block;
  color: black;
  background-color: white;

}

.addtobag-modal-button {
  color: white;
  background-color: black;
  height: 40px;
  text-overflow: ellipsis;
  align-self: stretch;
}

.addtobag-modal-button:hover {
  cursor: pointer;
  color: grey;
}

.modal-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.checkout-button {
  height: 40px;
}

.checkout-button:hover {
  cursor: pointer;
}

/* --- SIZE OUT OF STOCK MODAL --- */
.stock-modal {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.sign-up-button {
  height: 40px;
  background-color: grey;
  width: fit-content;
}

.sign-up-button:hover {
  cursor: pointer;
}

.product-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product {
  display: flex;
  flex-direction: column;
}

.summary {
  display: flex;
  flex-direction: column;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.measure-guide {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.steps {
  display: flex;
  flex-direction: column;
}